.dropDownSize {
    width: 110%!important;
    height: 37px;
    display: inline;
    padding: 0.1rem 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #6c757d !important;
    font-size: 13px !important;
}

.btnSave {
    margin-top: -1px;
    height: 35px;
    width: 70px;
}

.columnSet {
    /*top: 9px;*/
}

.item {
    display: inline !important;
}

.label-align {
    text-align: left !important;
    width: 13% !important;
    left: 1%;
}

.alert {
    margin-bottom: 26px !important;
    margin-left: 7px !important;
    border-radius: 4px !important;
    font-size: 13px !important;
    padding: 5px 10px;
    opacity: unset !important;
}

.btn {
    font-size: 13px;
}
